doctype html
head
  meta(charset='utf-8')
  title #{title}
  base(href='/')
  meta(name='viewport' content='viewport-fit=cover, width=device-width, initial-scale=1.0, user-scalable=no')
  include includes/style.pug
  body
    .text-wrapper
      img(src='/assets/icons/nodejs.svg' height='100px' , alt='nodejs logo') 
      h1 #{message}
      h2 #{description}